@import url(/css/fonts.css);

body{
    margin: 0px;   
    padding: 0px;
    
}

section{
    position: static;
}

header{
    padding-left: 150px;
    height: 73px;
}

.head-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #FFFFFF;
    align-self: center;
    border: 2px solid purple;
}

.conteneur-menu{
    justify-content: space-between;
    border: 1px solid orangered;
    align-self: center;
    
    
}

.element-menu{
    align-self: center;
    border: 1px solid blue;
}

#logo1{
    width: 39px;
}

#logo2{
    width: 95px;
}

.menu{
    align-self: center;
    border: 1px solid yellow;
}

.principale{
    background-image: url(/img/illustration_principale.jpg);
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    justify-content: space-evenly;
    border: 1px solid red;
}
.conteneur-principale{
    display: flex;
    flex-direction: column;
    padding-left: 150px;
    border: 1px solid orange;
}

.element-principale{
    border: 1px solid blue;
}

.conteneur-second-section{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-bottom: 100px;
    border: 1px solid orangered;
}

.element-second-section{
    text-align: center;
}

.decor{
    background-image: url(/img/decor_1.svg);
    background-repeat: no-repeat;
    background-position: top right;
    padding-top: 50px;
}

.plat{    
    width: 320px;
    background-color: #FFFFFF;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.05);
    
}

.plat img{
    border-top-left-radius: 8%;
    border-top-right-radius: 8%;
    
}

.descriptif{
    background-image: url(/img/decoration_filet.svg);
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: 1285px 130px;
    font-family: 'Poppins-regular';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 141%;
    color: #5E6282;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 188px;
    padding-right: 188px;
}

.maki{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 100px;
    justify-content: space-evenly;
    border: 1px solid red;
}

.element-maki{
    width: 250px;
    background-color: white;
    border-radius: 8%;
    height: 314px;
    border: 1px solid blueviolet;

}

.descriptif_bold{
    font-family: 'Poppins-bold';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #1E1D4C;
    
}

.chef{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 100px;
    padding-bottom: 450px;
    background-image: url(/img/illustration_chef.jpg);
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: 138%;
}

.inchef{
    padding-left: 150px;
}

.video{
    background-image: url(/img/visu_video.jpg);
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    width: 305px;
    border-radius: 15px;
}

.photo-illustration{
    position: absolute;
    display: inline-block;
    flex-direction: row;
    height: 652px;
    width: 100%;
    z-index: 1;
    top: 3331px;
    white-space: nowrap;
    overflow: hidden;
    
}

.illustration{
    
    width: 1500px;
    height: 100%;
    border: 1px solid rgb(187, 28, 115);
}

.commande{
    background-image: url(/img/illustration_commander.jpg);
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-left: 150px;
    padding-top: 300px;
    padding-bottom: 200px;
}

.commandez{
    display: flex;
    flex-direction: column;
    width: 395px;
    
}

.element-commandez{
    align-items: center;
    display: flex;
    flex-direction: row; 
    padding-bottom: 10px;    
}

.element-commandez img{
    width: 60px;
    padding: 10px 15px 10px 0;
}

.element-commandez a{
    text-decoration : none;
    display: inline;
    flex-direction: row;
}

a{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 17px;
    font-weight: 500;
    line-height: 19px;
    color: #212832;
}

li.marker{
    font-size: large;
}

.p3{
    font-family: 'Poppins-bold';
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #DF6951;
}

.petit_p{    
    font-family: 'Poppins-bold';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #BFC0CD;
}

.boutton-jaune{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    background-color: #F1A501;
    width: 204px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
}

.boutton-jaune2{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    background-color: #F1A501;
    width: 204px;
    height: 60px;
    border-radius: 10px;
    align-self: center;
}
    

h1{
    font-family: 'Volkhov-bold';
    font-style: normal;
    font-weight: 700;
    font-size: 84px;
    line-height: 89px;
    letter-spacing: -4%;
    color: #FFFFFF;
    width: 574px;
}

h2{
    font-family: 'Volkhov-bold';
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 64px;
    color: #14183E;
}

h3{
    font-family: 'Poppins-regular';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #5E6282;
}

h4{
    font-family: 'Poppins-regular';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #5E6282;
}

h5{
    font-family: 'Poppins-regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    width: 450px;
    
}

h6{
    font-family: 'Poppins-regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 0px;
    color: #5E6282;
    display: inline;
    flex-wrap: wrap;
}

#order{
    font-family: 'Volkhov-regular';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    color: #14183E;
}

span{
    color: #DF6951;
}

.marque{
    font-family: 'Poppins-bold';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 124.5%;
    color: #22232C;
}

.sous_marque{
    font-family: 'Poppins-regular';
    font-style: normal;
    text-decoration: underline;
    font-weight: 400;
    font-size: 16px;
    line-height: 124.5%;
    color: #3E3F43;
}

.sous_livraison{
    font-family: 'Poppins-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 124.5%;
    color: #3E3F43;
}

.rdv{
    font-family: 'Poppins-regular';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #5E6282;
}

.contact{
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    color: #14183E;
}

.formulaire{
    font-family: 'Poppins-regular';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
}

.consigne_formulaire{
    font-family: 'Poppins-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #8D8D8D;
}

.champ{
    font-family: 'Poppins-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #000000;
}

.droits{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 124.5%;
    color: #5E6282;
}

.menu_footer{
    font-family: 'Poppins-regular';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 147.5%;
    color: #5E6282;
}

.titre_menu_footer{
    font-family: 'Poppins-bold';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 124.5%;
    color: #080809;
}

.button_footer{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}