@import url(/css/fonts.css);

html{
    scroll-behavior: smooth !important;
}

body{
    margin: 0px;   
    padding: 0px;
    
}

header{
    padding-left: 150px;
    height: 73px;
    position: sticky;
    top: 0;
    z-index: 9;
}

#scrollUp{
position: fixed;
right: 10px;
bottom : 10px;
opacity: 0.6;
z-index: 2;
}
#scrollUp img{
    border-radius: 25px;
    width: 50px;
}
.head-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #FFFFFF;
    align-self: center;
    /* border: 2px solid purple; */
}

.conteneur-menu{
    justify-content: space-between;
    align-self: center;
    /* border: 1px solid orangered; */
    
}

.element-menu{
    align-self: center;
    /* border: 1px solid blue; */
}

#logo1{
    width: 39px;
    margin-right: 20px;
}


#logo1:hover, #logo3:hover{
    animation-name: rotation;
    animation-duration: 300ms;
    animation-iteration-count: infinite;
}

@keyframes rotation{
    0%{transform : rotate(0deg); scale: 1.1;}
    12.5%{transform : rotate(22.5deg); scale: 1.1;}
    25%{transform : rotate(45deg); scale: 1.1;}
    37.5%{transform : rotate(22.5deg); scale: 1.1;}
    50%{transform : rotate(0deg); scale: 1.1;}
    62.5%{transform : rotate(-22.5deg); scale: 1.1;}
    75%{transform : rotate(-45deg); scale: 1.1;}
    87.5%{transform : rotate(-22.5deg); scale: 1.1;}
    100%{rotate: 0deg;}
}

#logo2{
    width: 95px;
}

#logo3{
    width: 55px;
}

.menu{
    align-self: center;
    margin-right: 150px;
    display: flex;
    gap: 50px;
    /* border: 1px solid yellow; */
}

.menu a{
    text-decoration: none;
    
}

.menu a:hover{
    text-decoration: underline;
}

.principale{
    background-image: url(/img/illustration_principale.jpg);
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    justify-content: space-evenly;
    /* border: 1px solid red; */
}
.conteneur-principale{
    display: flex;
    flex-direction: column;
    
    padding-top: 100px;
    padding-left: 150px;
    /* border: 1px solid orange; */
}

.p3{
    font-family: 'Poppins-bold';
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #DF6951;
    margin: 0px;
}

.element-principale{
    margin: 0;
    display: flex;
    /* border: 1px solid blue; */
}

.conteneur-second-section{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-bottom: 100px;
    /* border: 1px solid orangered; */
}

.element-second-section{
    text-align: center;
}

.decor{
    background-image: url(/img/decor_1.svg);
    background-repeat: no-repeat;
    background-position: top right;
    padding-top: 50px;
}

.plat{    
    width: 320px;
    background-color: #FFFFFF;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.05);
    
}

.plat img{
    border-top-left-radius: 8%;
    border-top-right-radius: 8%;
    
}

.descriptif{
    background-image: url(/img/decoration_filet.svg);
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: 1285px 130px;
    font-family: 'Poppins-regular';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 141%;
    color: #5E6282;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding-left: 188px;
    padding-right: 188px;
}

.maki{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 100px;
    justify-content: center;
    /* border: 1px solid red; */
}

.element-maki{
    z-index: 2;
    width: 250px;
    background-color: white;
    border-radius: 8%;
    height: 314px;
    gap: 1px;
}

.element-maki:hover{
    z-index: 5;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.05);
    animation: rose;
}

.rose{
    z-index: 0;
    opacity: 0;
    
}

.rose:hover{    
    animation-name:;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0.1s;
}

@keyframes rose {
    from { opacity: 1; z-index: 1;
    }
    to {
        rotate: 22.5deg;
        opacity: 1;
        z-index: 1;
    }
}

.descriptif_bold{
    font-family: 'Poppins-bold';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #1E1D4C;
    
}

.container-chef{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 100px;
    padding-bottom: 500px;
    padding-left: 150px;
    background-image: url(/img/illustration_chef.jpg);
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: cover;
}

figure{
    margin: 0;
}

figure :last-child{
    margin: 0;
    margin-left: -10px;
}

.video{
    background-image: url(/img/visu_video.jpg);
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    width: 305px;
    border-radius: 15px;
}

.photo-illustration{
    position: absolute;
    height: 650px;
    width: 100%;
    top: 3300px;  
}

.commande{
    background-image: url(/img/illustration_commander.jpg);
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-left: 150px;
    padding-top: 300px;
    padding-bottom: 200px;
}

.commandez{
    display: flex;
    flex-direction: column;
    width: 395px;
    
}

.element-commandez{
    align-items: center;
    display: flex;
    flex-direction: row; 
    padding-bottom: 10px;    
}

.element-commandez img{
    width: 60px;
    padding: 10px 15px 10px 0;
}

.element-commandez a{
    text-decoration : none;
    display: inline;
    flex-direction: row;
}

.container-contact{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    padding-bottom: 100px;
    /* border: 1px solid red; */
}

.element-contact{
    
}

.container-formulaire{
    display: flex;
    flex-direction: row;
    width: 1018px;
    box-shadow: 0px 4px 61px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    
    
}

.element-formulaire{
    width: 486px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    gap: 5px;
}

.placement-formulaire{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin: 0px;
    /* border: 1px solid purple; */
}

.element-contact img{
    width: 532px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

::placeholder{
    text-underline-position:below;
}

.nom-prenom{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.nom, .prenom{
    display: flex;
    flex-direction: column;
    width: 190px;
}

.button-envoyer{
    padding-top: 30px;
    padding-bottom: 30px;
}

#envoyer:hover{
    transform: scale(1.05);
    cursor: pointer;
}

#envoyer{
    display: flex;
    align-self: center;
    justify-content: center;
    width: 152px;
    height: 48px;
    background-color: #007AFF;
    color: white;
    border-radius: 5px;
    font-family: 'Poppins-regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    border: none;
}

a{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 17px;
    font-weight: 500;
    line-height: 19px;
    color: #212832;
}

li.marker{
    font-size: large;
}

.petit_p{    
    font-family: 'Poppins-bold';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #BFC0CD;
}

.boutton-jaune{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    background-color: #F1A501;
    width: 204px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
}


.boutton-jaune:hover, .boutton-jaune2:hover{
    transition-duration: 0.2s;
    transform: scale(1.05);
    opacity: 0.8;
    cursor: pointer;
}

.boutton-jaune2{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    background-color: #F1A501;
    box-shadow: 0px 20px 35px 5px rgba(241, 165, 1, 0.15);
    border: none;
    width: 204px;
    height: 60px;
    border-radius: 10px;
    align-self: center;
}

    

h1{
    font-family: 'Volkhov-bold';
    font-style: normal;
    font-weight: 700;
    font-size: 84px;
    line-height: 89px;
    letter-spacing: -4%;
    color: #FFFFFF;
    width: 574px;
}

h2{
    font-family: 'Volkhov-bold';
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 64px;
    color: #14183E;
}

h3{
    font-family: 'Poppins-regular';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #5E6282;
}

h4{
    font-family: 'Poppins-regular';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #5E6282;
}

h5{
    font-family: 'Poppins-regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    width: 450px;
    
}

h6{
    font-family: 'Poppins-regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 0px;
    color: #5E6282;
    display: inline;
    flex-wrap: wrap;
}

#order{
    font-family: 'Volkhov-regular';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    color: #14183E;
}

span{
    color: #DF6951;
}

.marque{
    font-family: 'Poppins-bold';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 124.5%;
    color: #22232C;
}

.sous_marque{
    font-family: 'Poppins-regular';
    font-style: normal;
    text-decoration: underline;
    font-weight: 400;
    font-size: 16px;
    line-height: 124.5%;
    color: #3E3F43;
}

.sous_livraison{
    font-family: 'Poppins-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 124.5%;
    color: #3E3F43;
}

.rdv{
    font-family: 'Poppins-regular';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #5E6282;
}

.contact{
    text-align: center;
    font-family: 'Volkhov-regular';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    color: #14183E;
    width: 883px;
}

.formulaire{
    font-family: 'Poppins-regular';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
}

.consigne_formulaire{
    width: 256px;
    font-family: 'Poppins-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #8D8D8D;
}

.champ{
    font-family: 'Poppins-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #000000;
}

.droits{
    font-family: 'Poppins-regular';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 124.5%;
    color: #5E6282;
    text-align: center;
}

.menu_footer{
    margin: 0px;
    font-family: 'Poppins-regular';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 147.5%;
    color: #5E6282;
}

.titre_menu_footer{
    font-family: 'Poppins-bold';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 124.5%;
    color: #080809;
}

.button_footer{
    display: flex;
    justify-content: space-evenly;
    width: 250px;
    height: 35px;
    /* border: #000000 1px solid; */
}

#google{
    background-image: url(/img/logo_google_play.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-color: #000000;
    color: white;
    font-size: 10px;
    border-radius: 25px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    
}

#apple{
    background-image: url(/img/logo_apple.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-color: #000000;
    font-size: 10px;
    border-radius: 25px;
    padding: 10px 15px;
    color: white;
    display: flex;
    align-items: center;
}

footer{
    background-color: #F3F3F3;
}
.container-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 80px 200px 50px 200px;
    gap: 20px;

    /* border: 1px solid green; */
}

.element-footer{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* border:#DF6951 1px solid; */
}

.uber{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

figure{

}